<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>

        <li>
          <a target="_blank" rel="noopener noreferrer" href=" ">
            Coordinación de Lenguas Extranjeras
          </a>
        </li>

      </ul>
    </nav>
    <div class="copyright float-right">
      &copy; <a target="_blank" rel="noopener noreferrer" href="https://acapulco.tecnm.mx/">Copyright 2022 TecNM Campus
        Acapulco</a>
      -<a target="_blank" rel="noopener noreferrer" href=" ">Todos los Derechos Reservados</a>
    </div>
  </div>
</footer>