<div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/R.jpg">
  <div class="logo">
    <a target="_blank" rel="noopener noreferrer"  class="simple-text logo-normal">
      TecNM-Aca
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      {% if request.user.is_authenticated %}

      {% if request.user.username == "Financieros" %}
      <li class="nav-item {% if 'index' in segment %} active {% endif %}">
        <a class="nav-link" href="/">
          <i style="color: rgb(101, 101, 101);"class="material-icons">dashboard</i>
          <p>Avisos</p>
        </a>
      </li>

      <li class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
        <a class="nav-link" href="{% url 'curso:listar_financiero' 'default' %}">
          <i class="material-icons">paid</i>
          <p>Pagos</p>
        </a>
      </li>

      <li class="nav-item {% if 'ui-maps' in segment %} active {% endif %}">
        <a class="nav-link" href="/admin/">
          <i style="color: rgb(101, 101, 101);"class="material-icons">settings</i>
          <p>Control</p>
        </a>
      </li>


      {% else %}

      <li class="nav-item {% if 'index' in segment %} active {% endif %}">
        <a class="nav-link" href="/">
          <i style="color: rgb(101, 101, 101);"class="material-icons">dashboard</i>
          <p>Avisos</p>
        </a>
      </li>
      {% if request.user.is_superuser %}
      <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
        <a class="nav-link" href="{% url 'curso:listar_alumnos' %}">
          <i style="color: rgb(101, 101, 101);"class="material-icons">person</i>
          <p>Estudiantes</p>
        </a>
      </li>
      <li class="nav-item {% if 'ui-icons' in segment %} active {% endif %}">
        <a class="nav-link" href="{% url 'curso:listar_docentes' %}">
          <i style="color: rgb(101, 101, 101);"class="material-icons">bubble_chart</i>
          <p>Docentes</p>
        </a>
      </li>
      {% else %}
      <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
        <a class="nav-link" href="{% url 'curso:listar_perfil' %}">
          <i style="color: rgb(101, 101, 101);"class="material-icons">person</i>
          <p>Perfil</p>
        </a>
      </li>
      {% endif %}
      {% if request.user.is_superuser %}
      <li class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
        <a class="nav-link" href="{% url 'curso:listar_financiero' 'default' %}">
          <i style="color: rgb(101, 101, 101);" class="material-icons">paid</i>
          <p>Pagos</p>
        </a>
      </li>
      {% else %}
      <li class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
        <a class="nav-link" href="{% url 'curso:listar_pagoE' %}">
          <i style="color: rgb(101, 101, 101);"class="material-icons">paid</i>
          <p>Tus pagos</p>
        </a>
      </li>
      {% endif %}
      <li class="nav-item {% if 'ui-typography' in segment %} active {% endif %}">
        <a class="nav-link" href="{% url 'curso:listar_grupos' %}">
          <i style="color: rgb(101, 101, 101);"class="material-icons">library_books</i>
          <p>Grupos</p>
        </a>
      </li>

      {% if request.user.is_superuser %}
      {% if request.user.username == "Coordinador" %}
      <li class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
        <a class="nav-link" href="{% url 'curso:calificar_admin' %}">
          <i style="color: rgb(101, 101, 101);" class="material-icons">content_paste</i>
          <p>Calificar</p>
        </a>
      </li>
      {% endif %}

      <li class="nav-item {% if 'ui-maps' in segment %} active {% endif %}">
        <a class="nav-link" href="{% url 'ingles:estadisticas_Global' 'all'  %}">
          <i style="color: rgb(101, 101, 101);"class="material-icons">analytics</i>
          <p>Estadísticas</p>
        </a>
      </li>
      <li class="nav-item {% if 'ui-maps' in segment %} active {% endif %}">
            <a class="nav-link" href="/admin/">
              <i style="color: rgb(101, 101, 101);"class="material-icons">settings</i>
              <p>Control</p>
            </a>
          </li>
      
      {% endif %}
      {% endif %}

      <!-- <li class="nav-item {% if 'ui-notifications' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-notifications.html">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li> -->

      <!-- <li class="nav-item ">
            <a class="nav-link" href="/page-rtl-support.html">
              <i class="material-icons">language</i>
              <p>RTL Support</p>
            </a>
          </li> -->

      <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i style="color: rgb(101, 101, 101);"class="material-icons">directions_run</i>
              <p>Salir</p>
            </a>
          </li>

      <!-- <li class="nav-item active-pro ">
        <a class="nav-link" target="_blank" rel="noopener noreferrer"
          href="https://appseed.us/admin-dashboards/django-dashboard-material-pro">
          <i class="material-icons">unarchive</i>
          <p>PRO Version</p>
        </a>
      </li> -->

      {% endif %}
    </ul>
  </div>
</div>