<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Agregar Pago</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="{% url 'curso:crear_pago'%}" id="pagoForm" data-cities-url="{% url 'curso:ajax_load_cities' %}"
            data-cities-url2="{% url 'curso:ajax_load_cities2' %}" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="modal-body">
                {{ form.as_p }}
                {{ form2.as_p }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-danger" type="button" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-outline-primary" onclick="alerta()" type="submit">Confirmar</button>
            </div>
        </form>
        <!-- <script>
        function alerta(){
            alert("Se ha registrado su pago y apareceras en el grupo cuando entregues el boucher")
        }
    </script> -->
        <script>
            $(function () {
                const url = $("#pagoForm").attr("data-cities-url");  // get the url of the `load_cities` view
                $("#id_idperiodo" && "#id_idmateria").change(function () {
                    const periodo = $("#id_idperiodo").val();  // get the selected country ID from the HTML input
                    const materia = $("#id_idmateria").val();  // get the selected country ID from the HTML input

                    console.log(periodo);
                    $.ajax({                       // initialize an AJAX request
                        url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                        data: {
                            'idperiodo': periodo,
                            'idmateria': materia,     // add the country id to the GET parameters
                        },
                        success: function (data) {   // `data` is the return of the `load_cities` view function
                            console.log(data);
                            $("#id_idgrupo").html(data);

                            /*
                            let html_data = '<option value="">---------</option>';
                            data.forEach(function (city) {
                                html_data += `<option value="${city.id}">${city.name}</option>`
                            });
                            console.log(html_data);
                            $("#id_city").html(html_data);
                            */
                        }
                    });
                })

            });
            // $("#id_idperiodo").change(function () {
            //     const url = $("#pagoForm").attr("data-cities-url2");  // get the url of the `load_cities` view
            //     const countryId = $(this).val();  // get the selected country ID from the HTML input
            //     console.log(countryId);
            //     $.ajax({                       // initialize an AJAX request
            //         url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            //         data: {
            //             'idperiodo': countryId       // add the country id to the GET parameters
            //         },
            //         success: function (data) {   // `data` is the return of the `load_cities` view function
            //             $("#id_idgrupo").html(data);
            //         }
            //     });
            // });
        </script>
    </div>
</div>