<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Agregar Pago</h2>
            <button class="close" type="button" data-dismiss = "modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="{% url 'curso:crear_pago'%}" id="pagoForm" novalidate data-cities-url="{% url 'curso:ajax_load_cities' %}" method="post" enctype= 'multipart/form-data'>
            {% csrf_token %}
        <div class="modal-body">
            {{ form.as_p }}
            {{ form2.as_p }}
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline-danger" type="button" data-dismiss="modal">Cancelar</button>
            <button class="btn btn-outline-primary" onclick="alerta()" type="submit">Confirmar</button>
        </div>
    </form>
    <script>
        function alerta(){
            alert("Se ha registrado su pago y apareceras en el grupo cuando entregues el boucher")
        }
    </script>
    <script>
        $("#id_idmateria").change(function () {
            const url = $("#pagoForm").attr("data-cities-url");  // get the url of the `load_cities` view
            const countryId = $(this).val();  // get the selected country ID from the HTML input
    
            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                data: {
                    'idmateria': countryId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_idgrupo").html(data);  // replace the contents of the city input with the data that came from the server
                    /*
    
                    let html_data = '<option value="">---------</option>';
                    data.forEach(function (city) {
                        html_data += `<option value="${city.id}">${city.name}</option>`
                    });
                    console.log(html_data);
                    $("#id_city").html(html_data);
    
                    */
                }
            });
    
        });
    </script>
    </div>
</div>