<div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title"> <b> Grupo: {{object}}</b> </h3>
            <button type="button" class="btn-close btn-outline-danger" data-bs-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        </div>
        <form action="{% url 'curso:editar_grupos' object.idgrupo%}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <p><b>Capacidad Actual:</b>{{object.capacidad}}</p>
                {{ form.as_p }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-outline-primary">Confirmar</button>
            </div>
        </form>
    </div>
</div>