{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% if request.user.is_superuser %}
<div>
  <button class="btn btn-outline-primary" type="button"
    onclick="abrir_modal_creaciong('{% url 'curso:crear_grupos' %}')">Agregar Grupo</button>
</div>
{% endif %}
<div class="table-responsive">
{% if grupos %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Grupos</h4>
      </div>
      <div class="card-body">
        <table class="table">
          <thead class=" text-primary">
            <th>Periodo</th>
            <th>Curso</th>
            <th>Docente</th>
            <th>Aula</th>
            <th>Modalidad</th>
            <th>Horario</th>
            <th>Opciones</th>
            {% for grupo in grupos %}

            {%if forloop.first%}
            <!-- <h3>Periodo: {{ grupo.idperiodo}}</h3> -->
          </thead>
          <tbody>
            {%endif%}
            <tr>
              <td>{{ grupo.idperiodo}}</td>
              <td>{{ grupo.idmateria}}</td>
              <td>{{ grupo.iddocente }}</td>
              <td>{{ grupo.idaula }}</td>
              <td>{{ grupo.idmodalidad }}</td>
              <td>{{ grupo.horario }}</td>
              <td>
                <a href="{% url 'ingles:listar_gruposdetalles' grupo.idgrupo %}"
                  class="btn btn-outline-info"><i class="material-icons"> visibility</i></a>
                {% if request.user.is_superuser %}
                <button onclick="abrir_modal_ediciong('{% url 'ingles:editar_grupos' grupo.idgrupo %}')"
                class="btn btn-outline-warning"><i class="material-icons"> mode_edit</i></button>
                <a href="{% url 'ingles:eliminar_grupos' grupo.idgrupo %}" class="btn btn-outline-danger"><i class="material-icons"> remove_circle</i></a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>

          <!--  Page content-->
        </table>
        {% else %}
        <h1>No Existen Grupos Registrados</h1>
      </div>
    </div>
  </div>
</div>
</div>
{% endif %}
<div class="modal fade" id="creaciong" role="dialog">

</div>

<div class="modal fade" id="ediciong" role="dialog">

</div>


{% block extrajs %}
<script type="text/javascript">
  var $ = jQuery.noConflict();
  function abrir_modal_ediciong(url) {
    $('#ediciong').load(url, function () {
      $(this).modal('show');
    });
  }
  function abrir_modal_creaciong(url) {
    $('#creaciong').load(url, function () {
      $(this).modal('show');
    });
  } 
</script>
{% endblock extrajs %}
{% endblock content %}