{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<button class="btn btn-outline-primary" type="button"
  onclick="abrir_modal_creacion('{% url 'curso:crear_pago'%}')">Agregar Pago</button>
<div class="table-responsive">
  {% if pagos %}
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">Lista de Pagos</h4>
        </div>
        <div class="card-body">
          <table class="table">
            <thead class=" text-primary">
              <th>#</th>
              <th>Materia</th>
              <th>Estudiante</th>
              <th>Periodo</th>
              <th>Fecha del Pago</th>
              <th>Fecha de Alta</th>
              {% if request.user.is_superuser %}
              <th>Opciones</th>
              {% endif %}
            </thead>
            <tbody>
              {% for pago in pagos %}
              <tr>
                <td>{{ pago.foliopago }}</td>
                <td>{{ pago.idmateria }}</td>
                <td>{{ pago.idestudiante }}</td>
                <td>{{ pago.idperiodo }}</td>
                <td>{{ pago.fechapago }}</td>
                <td>{{ pago.fechasist }}</td>
                <td>
                  {% if request.user.is_superuser %}
                  <button onclick="abrir_modal_edicion('{% url 'ingles:editar_pago' pago.foliopago %}')"
                    class="btn btn-outline-secondary">Editar</button>
                  <a href="{% url 'ingles:eliminar_pago' pago.foliopago %}" class="btn btn-outline-danger">Eliminar</a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <h1>No Existe Pagos Registrados</h1>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="modal fade" id="creacion" role="dialog">

</div>

<div class="modal fade" id="edicion" role="dialog">

</div>
{% block extrajs %}
<script type="text/javascript">
  function abrir_modal_edicion(url) {
    $('#edicion').load(url, function () {
      $(this).modal('show');
    });
  }
  function abrir_modal_creacion(url) {
    $('#creacion').load(url, function () {
      $(this).modal('show');
    });
  } 
</script>
{% endblock extrajs %}
{% endblock content %}