{% extends "layouts/base.html" %}
{% load static %}
{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  body {
    margin: 0;
    padding: 0;
    border: 0;
  }

  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;

  }

  th {
    text-align: center;
    font-size: 14px;
  }

  td {
    font-size: 15px;
  }

  p {
    font-size: 18px;
    padding: 5px;
    margin: 0%;
  }

  .img-gen {
    display: flex;
    justify-content: space-between;
  }
</style>
{% endblock stylesheets %}

{% block content %}
<h3> {{ estudiante.nombre | upper }} {{ estudiante.apellidop | upper }} {{ estudiante.apellidom | upper }}</h3>
<!-- {% if request.user.is_superuser %}
<div>
  <button class="btn btn-outline-primary" type="button"
    onclick="abrir_modal_creacion('{% url 'curso:crear_gruposdetallesadm' %}')">Agregar</button>
</div>
{% endif %} -->
<div class="table-responsive">
  {% if context.gruposdetalles %}
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">Detalle Grupo</h4>
        </div>
        <div class="card-body">
          <table class="table" id="data">
            <thead class=" text-primary">
              <th>Numero</th>
              <th>No. Control</th>
              <th>Estudiante</th>
              <th>Carrera</th>
              <!-- {% if request.user.is_superuser %}
              <th>Opciones</th>
              {% endif %} -->
              {% for grupodetalle in context.gruposdetalles %}
              {%if forloop.first%}
              <div class="img-gen">
                <p><b>FACILITADOR:</b> {{ grupodetalle.idgrupo.iddocente | upper}}</p>
                </p>
                <p><b>MODALIDAD:</b> {{ grupodetalle.idgrupo.idmodalidad | upper}} </p>
                <p><b>PERIODO:</b> {{grupodetalle.idperiodo | upper}}</p>
              </div>
              <div class="img-gen">
                <p><b>NIVEL:</b> {{grupodetalle.foliopago.idmateria}}</p>
                <p><b>GRUPO:</b> {{ grupodetalle.idgrupo.grupo}} </p>
                <p><b>AULA:</b> {{ grupodetalle.idgrupo.idaula}} </p>
              </div>
              <div class="img-gen">
                <p><b>HORARIO:</b> {{ grupodetalle.idgrupo.horario}} </p>
                <p><b>Estudiantes Inscritos:</b> {{context.var}}</p>
                <p><b>Estudiantes Aceptados: </b>{{context.varA}}</p>

              </div>
            </thead>
            <tbody>
              {%endif%}
              
                {% if grupodetalle.foliopago.idestado.estado == 'Aceptado' %}
                <tr>
                <td>{{forloop.counter}}</td>
                <td style="text-align: center; ">{{ grupodetalle.idestudiante.nocontrol }}</td>
                <td style="font-size: 18px;">{{ grupodetalle.idestudiante | title }}</td>
                <td style="text-align: center;">{{ grupodetalle.idestudiante.idcarrera }}</td>
                <!-- {% if request.user.is_superuser %}
                <td> <button onclick="abrir_modal_edicion('{% url 'ingles:editar_gruposdetalles' grupodetalle.id %}')"
                    class="btn btn-outline-secondary btn-sm">Editar</button></td>
                <td><a href="{% url 'ingles:eliminar_gruposdetalles' grupodetalle.id %}"
                    class="btn btn-outline-danger btn-sm">Eliminar</a></td>
                {% endif %} -->
              </tr>
                {% endif %}
              
              {% endfor %}
            </tbody>
            <!-- <td><a href="{% url 'ingles:crear_grupos' %}">Detalle</a></td> Page content<td><a href="{% url 'ingles:crear_grupos' %}">Agregar</a></td>-->
          </table>
          <div>
            <h4 style="color: red;">La lista presenta a los estudiantes cuyos pagos han sido aprobados por el Departamento de Recursos Financieros.</h4>
          </div>
          {% else %}
          <h1>No Existen Estudiantes Registrados en el Grupos</h1>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="modal fade" id="creacion" role="dialog">

</div>

<div class="modal fade" id="edicion" role="dialog">

</div>
{% block javascripts %}
<script type="application/javascript">
  $(document).ready(function () {
    $('#data').DataTable({
      "language": {
        url: "{% static 'lib/spanish.txt' %}"
      },

    });
  });
</script>

<script type="text/javascript">
  var $ = jQuery.noConflict();
  function abrir_modal_edicion(url) {
    $('#edicion').load(url, function () {
      $(this).modal('show');
    });
  }
  function abrir_modal_creacion(url) {
    $('#creacion').load(url, function () {
      $(this).modal('show');
    });
  } 

</script>
{% endblock javascripts %}
{% endblock content %}